body {
    width: 350px;
    height: 400px;
}

.br {
    width: 100%;
    height: 1px;
    background-color: lightgrey;
    margin: 5px 0px 5px 0px;
}

#headerOptions {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

#headerTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#title {
    color: rgb(255, 230, 0);
    font-weight: bold;
    margin-right: 4px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 20px;
}

#descriptors {
    color: black;
    font-size: 13px;
    margin-bottom: 15px;
}

#titleImg {
    width: 30px;
    height: 30px;
    margin-bottom: 0px;
}

#clearAll {
    width: 15px;
    height: 15px;
    float: left;
    margin: 7px 7px 0px 0px;
}

#folderSelect {
    width: 15px;
    height: 15px;
    float: left;
    margin: 7px 7px 0px 0px;
}

.checkBox {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    -webkit-appearance: none;
    background-color:rgb(255, 246, 164);
    cursor: pointer;
    margin-top: 3px;
}

.checkBox:checked {
    background-color:rgb(255, 230, 0);
}

.checkBox:after {
    content: "";
    position: absolute;
    display: block;
}

.linkBtn {
    border: none;
    background-color: white;
    position: absolute;
}

.iconImg {
    width: 14px;
    height: 14px;
    margin-right: 4px;
}

.iconDiv {
    float: right;
    margin-top: 3px;
    width: 37px;
}

.noTasksImg {
    height: 40px;
    width: auto;
}

.noTasksDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.addTaskBtn {
    border: 1px solid lightgrey;
    background-color:rgb(0, 102, 255);
    color: white;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;    
    cursor: pointer;
}

.addTaskBtn:hover {
    border: 1px solid lightgrey;
    background-color:rgb(55, 135, 255);
    color: white;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;    
}

#txtBtnWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px;
}

#listContent {
    padding: 5px;
}

.taskRowDiv {
    padding: 5px 10px 0px 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 0.5px lightgrey;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
}

.taskRowDiv:hover {
    cursor: pointer;
    box-shadow: 1px 1px 5px 0.5px rgb(175, 175, 175);
}

.headerIcons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}






/* ONLY ADD URL PAGE CSS */

#inputWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#txtName {
    margin-bottom: 10px;
}

#inputDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 20px 20px 20px;
}

.input {
    width: 250px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid lightgrey;
}

#urlPageTitle {
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#body {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}






/* ADD AND EDIT TAGS CSS */
#tagEditSlct {
    background-color: rgb(255, 246, 164);
}